.dropdown-toggle::after { 
    content: none; 
  } 
  
  .container{
    margin-top: 2.5rem;
    background-color: white;
    position: relative;
  }
  
  

  .navbar{
    border-radius: 15px;
  }
  .navbar:active{
    color: blueviolet !important;
  }
  
  .nav-link{
    color: white;
    text-align: center;
    font-weight: bolder;
    }
  
  .nav-link:hover{
       color: blueviolet !important;
    }  
  .mr-auto:active{
    color: blueviolet !important;
  }